<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITempConversionService" />
                <binding name="BasicHttpBinding_INumberSorterService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52244/TempConversionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITempConversionService"
                contract="TempConversion.ITempConversionService" name="BasicHttpBinding_ITempConversionService" />
            <endpoint address="http://localhost:52636/NumberSorterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INumberSorterService"
                contract="NumberSorter.INumberSorterService" name="BasicHttpBinding_INumberSorterService" />
        </client>
    </system.serviceModel>
</configuration>